.container {
  margin: 0 auto;
  width: 600px;
}

nav {
  border-bottom: 3px dotted black;
  width: 600px;
  margin-bottom: 15px;
  float: left;
}

nav ul {
  margin: 0 0 10px 0;
  padding: 0 0;
}

nav ul li {
  list-style-type: none;
  float: left;
  margin-right: 5px;
}

section {
  border: 1px solid black;
  margin-bottom: 15px;
  width: 600px;
  float: left;
  text-align: center;
}

button {
  width: 200px;
}
